# Ignore hidden and setup files 

setup.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test
.tox/
.cache

# DotEnv configuration
.env

# Pycharm
.idea

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
# /data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/
